<nav class="navbar is-dark is-fixed-bottom">
  <div class="navbar-brand">
    <div class="navbar-item" *ngIf="!userService.userLoggedIn">
      <a class="button" [routerLink]="['/login']">
        <span class="icon">
          <i class="fas fa-sign-in-alt"></i>
        </span>
      </a>
    </div>

    <div class="navbar-item" *ngIf="userService.userLoggedIn">
      <a class="button" [routerLink]="['/user']">
        <span class="icon">
          <i class="fas fa-user"></i>
        </span>
      </a>
    </div>

    <div class="navbar-item" *ngIf="userService.userLoggedIn">
      <a class="button" [routerLink]="['/sessions']">
        <span class="icon">
          <i class="fas fa-tasks"></i>
        </span>
      </a>
    </div>

    <workito-new-session *ngIf="userService.userLoggedIn"></workito-new-session>


  </div>

</nav>
