<div class="container">
  <!-- BACK BUTTON -->
  <a class="button" routerLink="/projects">
      <span class="icon">
        <i class="fas fa-chevron-left"></i>
      </span>
  </a>

  <workito-new-task-button
    [projectId]="project.id"
    redirectOnCreate="true"
    classes="is-info is-large"
  ></workito-new-task-button>

  <workito-panel
    title="Sesiones"
    inputPlaceholder="Crear nueva sesión"
    searchCriteria="name"
    [modelList]="taskList"
    [invalidInput]="invalidName"
    [itemListTemplate]="taskListTemplate"
    (whenCreateItem)="createNewTask($event)"
    (whenCheckInput)="checkName($event)"
    (whenSearch)="filteredList($event)"
  ></workito-panel>

  <ng-template #taskListTemplate>
    <div *ngFor="let session of sessionsToShow">
      <div>{{ session.name | date:'fullDate' }} || <span>{{ session.getTotalHours | date:'HH:mm:ss' }}</span></div>
      <div *ngFor="let task of session.tasks">
        <workito-task-item [task]="task"></workito-task-item>
      </div>
    </div>
  </ng-template>

</div>
