<div class="container workito-tasks">
  <!-- BACK BUTTON -->
  <a class="button" routerLink="/projects">
      <span class="icon">
        <i class="fas fa-chevron-left"></i>
      </span>
  </a>

  <workito-task-control-buttons
    [projectId]="project.id"
    buttonClass="is-large"
  ></workito-task-control-buttons>

  <workito-panel
    title="Sesiones"
    inputPlaceholder="Crear nueva tarea"
    searchCriteria="name"
    [modelList]="taskList"
    [invalidInput]="invalidName"
    [itemListTemplate]="taskListTemplate"
    (whenCreateItem)="createNewTask($event)"
    (whenCheckInput)="checkName($event)"
    (whenSearch)="filteredList($event)"
  ></workito-panel>

  <ng-template #taskListTemplate>
    <ng-container *ngIf="!filteredTasks">
      <ng-container *ngFor="let session of sessionList">
        <workito-session-item [session]="session"></workito-session-item>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="filteredTasks">
      <div class="workito-session-item__wrapper panel-block">
        <span>Tiempo total</span>
        <div class="is-pulled-right">
          {{ filteredTaskTotalHours | date:'HH:mm:ss' }}
        </div>
      </div>

      <ng-container *ngFor="let task of filteredTasks">
        <workito-task-item [task]="task" [showSession]="true"></workito-task-item>
      </ng-container>
    </ng-container>
  </ng-template>

</div>
