<nav class="panel">
  <div class="panel-heading">
    <span class="is-text">{{title}}</span>

    <!--  NEW ITEM BUTTON  -->
    <div class="is-pulled-right">
      <button class="button is-small is-light" *ngIf="!formOpen" (click)="toggleAddButton()">
          <span class="icon has-text-info">
          <i class="fas fa-plus"></i>
        </span>
      </button>

      <!--  NEW ITEM FORM  -->
      <form #form="ngForm" (ngSubmit)="createNewItem(form)" *ngIf="formOpen">
        <div class="field is-horizontal has-addons">
          <div class="control">
            <label for="name" class="label is-sr-only">{{searchInput}}</label>
            <input
              class="input is-small"
              [ngClass]="{'is-danger': formInvalid(form)}"
              type="text"
              maxlength="30"
              required
              (keyup)="checkInput($event)"
              [(ngModel)]="nameInput"
              name="name"
              id="name"
              placeholder="{{inputPlaceholder}}">
          </div>
          <div class="control">
            <button class="button is-info is-small" [ngClass]="{'is-danger': formInvalid(form) }">
              <span class="icon has-text-light">
                <i class="fas fa-plus"></i>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--  SEARCH BOX  -->
  <div class="panel-block">
    <p class="control has-icons-left has-icons-right">
        <label class="is-sr-only" for="searchInput"></label>
        <input class="input is-small"
               id="searchInput"
               [(ngModel)]="searchInput"
               (keyup)="searchInList()"
               type="text"
               placeholder="buscar">
      <span class="icon is-small is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      <span class="icon is-right">
          <a *ngIf="searchInput" (click)="cleanSearchBox()" class="delete is-small"></a>
        </span>
    </p>
  </div>

  <!-- ITEM LIST --->

  <ng-container *ngTemplateOutlet="itemListTemplate"></ng-container>

</nav>

