<div class="workito-task-running navbar-brand" *ngIf="taskRunningService.task">
  <div class="navbar-item">
    <a class="button is-dark">
      <span class="icon">
        <i class="fas fa-hourglass-start"></i>
      </span>
    </a>
      <a class="button is-dark"
         [routerLink]="['tasks/', taskRunningService.task.project, taskRunningService.task.getId]">
      <span class="workito-task-running-counter__name">{{taskRunningService.task.name}}</span>
      <span class="icon">
      <i class="fas fa-grip-lines-vertical"></i>
    </span>
      <workito-task-timer [task]="taskRunningService.task" class="workito-task-running__counter"></workito-task-timer>
    </a>
  </div>
</div>



