<div class="container">
  <workito-panel
    title="Proyectos"
    inputPlaceholder="Crear nuevo proyecto"
    searchCriteria="name"
    [modelList]="projectList"
    [invalidInput]="invalidName"
    [itemListTemplate]="projectListTemplate"
    (whenCreateItem)="createNewProject($event)"
    (whenCheckInput)="checkName($event)"
    (whenSearch)="filteredList($event)"
  ></workito-panel>

  <ng-template #projectListTemplate ngFor let-project [ngForOf]="projectsToShow">
    <workito-project-item [project]="project" ></workito-project-item>
  </ng-template>

</div>

