<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <form #nameForm="ngForm" (ngSubmit)="createNewProject()">
          <div class="field">
            <label class="label">Nombre del projecto</label>
            <div class="control">
              <input
                class="input"
                type="text"
                maxlength="30"
                required
                (keyup)="checkName($event)"
                [(ngModel)]="name"
                name="name"
                placeholder="Nombre">
            </div>
            <p class="help is-danger" *ngIf="nameForm.touched && !nameForm.valid">Obligatorio</p>
            <p class="help is-danger" *ngIf="invalidName">Ya hay un proyecto con ese nombre</p>
          </div>
          <button class="button">Crear nuevo projecto</button>
        </form>
      </div>
      <div class="column">
        <div class="is-title">Projectos anteriores</div>
        <ul>
          <li class="text" *ngFor="let project of projectsService.projects">
            <a [routerLink]="['/sessions', project.id]" class="link">{{project.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
