<div class="container">
  <nav class="panel">
    <div class="panel-heading">
      <span class="is-text">Proyectos</span>

      <div class="is-pulled-right">
        <button class="button is-small is-light" *ngIf="!addProject" (click)="toggleAddButton()">
          <span class="icon has-text-info" >
          <i class="fas fa-plus"></i>
        </span>
        </button>

        <form #nameForm="ngForm" (ngSubmit)="createNewProject(nameForm)" *ngIf="addProject">
          <div class="field is-horizontal has-addons">
            <div class="control">
              <label class="label is-sr-only">Nombre del projecto</label>
              <input
                class="input is-small"
                [ngClass]="{'is-danger': formInvalid(nameForm)}"
                type="text"
                maxlength="30"
                required
                (keyup)="checkName($event)"
                [(ngModel)]="name"
                name="name"
                placeholder="Nombre">
            </div>
            <div class="control">
              <button class="button is-info is-small" [ngClass]="{'is-danger': formInvalid(nameForm) }">
              <span class="icon has-text-light">
                <i class="fas fa-plus"></i>
              </span>
              </button>
            </div>
          </div>

        </form>

      </div>
    </div>

    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input is-small" [(ngModel)]="search" (keyup)="searchProjects()" type="text" placeholder="buscar">
        <span class="icon is-small is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
      </p>
    </div>
    <div class="panel-block" *ngFor="let project of projectList">
      <a class="" [routerLink]="[project.id]">
      <span class="panel-icon">
        <i class="fas fa-tasks" aria-hidden="true"></i>
      </span>
        {{project.name}}
      </a>
      <span class="icon has-text-danger is-pulled-right" (click)="destroyProject(project)">
        <i class="fas fa-trash"></i>
      </span>
    </div>

  </nav>
</div>

