<div class="columns is-centered" *ngIf="task">
  <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
    <a class="button" [routerLink]="['/projects', task.project]">
      <span class="icon">
        <i class="fas fa-chevron-left"></i>
      </span>
    </a>

    <div class="workito-task-details card">
      <div class="workito-task-details__name card-header-title">
        <label for="taskName">
          <input id="taskName" type="text" class="input is-static title" [(ngModel)]="task.name">
        </label>
      </div>
      <div class="card-content">
        <workito-task-timer #taskTimer [task]="task"></workito-task-timer>
        <div class="content">
          <h4 class="is-title">Comentarios</h4>
          <label for="comments">
            <textarea
              id="comments"
              class="workito-task-details__textarea textarea"
              name="comments"
              [(ngModel)]="task.comments">
            </textarea>
          </label>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item button is-info" *ngIf="!task.running"
           (click)="taskTimer.startTimer()"
        >Empezar
        </a>
        <a class="card-footer-item button is-danger" *ngIf="task.running && !task.stopped"
           (click)="taskTimer.stopTimer()"
        >Parar
        </a>
        <a class="card-footer-item button is-danger"
           (click)="deleteTask()"
        >Borrar sesión
        </a>
      </footer>
    </div>
  </div>
</div>

