<!--The content below is only a placeholder and can be replaced.-->
<div class="workito-app">
  <nav class="navbar is-dark">
    <div class="navbar-brand">
      <workito-new-session *ngIf="userService.userLoggedIn"></workito-new-session>
    </div>
  </nav>
  <div class="section">
    <div class="container">
      <h1 class="title is-1">Welcome to {{ title }}!</h1>
    </div>
  </div>
  <hr>
  <div class="column">
    <router-outlet></router-outlet>
  </div>
  <workito-fixed-navbar></workito-fixed-navbar>
</div>
