<!--The content below is only a placeholder and can be replaced.-->
<div class="workito-app">
  <div class="section">
    <div class="container">
      <h1 class="title is-1">Welcome to {{ title }}!</h1>
    </div>
    <button
      class="button is-info"
      *ngIf="userService.userLoggedIn"
      [routerLink]="['/user']"
      >Usuario</button>
    <button
      class="button is-info"
      *ngIf="!userService.userLoggedIn"
      [routerLink]="['/sign-up']"
    >Sign Up</button>
    <button
      class="button is-info"
      *ngIf="!userService.userLoggedIn"
      [routerLink]="['/login']"
    >Login</button>
    <button
      class="button is-primary"
      *ngIf="userService.userLoggedIn"
      [routerLink]="['/sessions']"
    >Sessions</button>
  </div>

  <hr>

  <div class="column">
    <router-outlet></router-outlet>
  </div>
</div>
