<ng-container>
  <div class="buttons" [ngClass]="classes">
    <button class="button is-info is-large"
       (click)="createNewTask()"
            [attr.disabled]="!taskIsRunning ? null : true">
        <span class="icon">
          <i class="fas fa-play-circle"></i>
        </span>
    </button>
    <button class="button is-warning is-large"
       (click)="pauseTask()"
            [attr.disabled]="taskIsRunning ? null : true">
        <span class="icon">
          <i class="fas fa-pause-circle"></i>
        </span>
    </button>
    <button class="button is-danger is-large"
       (click)="stopTask()"
            [attr.disabled]="taskIsPaused || taskIsRunning ? null : true">
        <span class="icon">
          <i class="fas fa-stop-circle"></i>
        </span>
    </button>
  </div>
</ng-container>

